* {
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: white;
    margin: 0;
    color: #141414
}

header {
    display: flex;
    flex: 1;
    background-color: #595959;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    /* border: 5px solid RED; */
    width: 100%;
    position: fixed;
}


.kohishoplogo {
    border-radius: 5px;
    box-shadow: 2px 2px 5px 5px #888;
    width: 60px;
   margin-left: 30px;
}


nav, ul{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
    flex-shrink: 1;
}



.nav1, .nav2, .nav3 {
    color: white;
    background-color: #464646; 
    padding: 12px;
    border-radius: 20px;
    margin: 10px;
    margin-right: 60px;
}

.nav1:hover, .nav2:hover, .nav3:hover {
    background: #666666;
}


li {
    list-style-type: none; 
    flex-shrink: 0;
}



section {
    display: flex;
    /* border: 5px solid red; */
    flex:1 ;
    flex-shrink: 0;
}

.section1 {
    background-color: #d6cebf;
    padding-top: 70px;
}


/* THIS IS THE FIRST SECTION OF THE LANDPAGE */
.main-title {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    /* flex-shrink: 0; */
    /* flex: 1; */
    /* background-image: url(/Images/alphakohi.png);
    background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    padding: 150px;
    opacity: 0.5;
    /* border: 1px solid red; */
    min-width: 300px;
    max-width: 700px;
}

.title-image {
    flex: 1;
    flex-shrink: 0;
    align-self: center;
}

.lobby {
    border-radius: 10px;
}

h1 {
    font-size: 35px;
    align-self: center;
    /* border: 1px solid red; */
    flex-shrink: 0;

}

.description {
    /* border: 1px solid red; */
    text-align: center;
    flex-shrink: 0;
}


a {
    text-decoration: none;
}

/* THIS IS THE SECOND SECTION OF THE LANDPAGE */
.categories {   
display:flex;
background-color: #5C5C5C;
flex-direction: column;
justify-content: center;
align-items: center;
border: 1px solid red;
max-width: 2000px;
}

h2 {
    flex: 1;
    font-size: 30px;

}

.container1 {
    display:flex;
    flex-grow: 1;
    min-width: 0;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid red;
}


.premiumcoffee, .merchandise, .pastries, .sandwich {
    border-radius: 10px;
    width: 400px;
    align-content: center;
  }

.category1, .category2, .category3, .category4 {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
align-content: stretch;
border: 1px solid red;
margin-bottom: 30px;
text-align: center;
flex: 1;
}

h4 {
    align-self: center;
    border: 1px solid red;
    margin-top: 0;
    font-size: 20px;
}




